/* AutoNarrativeBox.css */

.auto-narrative-box {
  color: #ffffff; /* Set the text color to white */
  background-color: black;
  font-family: 'Pixelify Sans', sans-serif;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px; 
}

