/* ConsoleLeft.css */

.console-left {
  background-color: #303030; 
  border: 1px solid #000; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  width: 400px; 
  margin: 0 auto; 
  height: 84.5vh; /* swtich out with actual bottom measurement of input interface */
}

