/* AvailableInformation.css */

.available-information {
  border: 1px solid black; /* Add a thin black border */
  padding: 10px; /* Add padding as needed */
  text-align: center; /* Center text horizontally */
  margin-top: 10px;
}

.available-information-title {
  font-family: 'Pixelify Sans', sans-serif; /* Set the font-family to Pixelify Sans */
  font-size: 20px; /* Adjust the font size as needed */
}
