/* AvailableInformation.css */

.available-information {
  border: 0px solid black;
  padding: 24px 10px 5px; /* Adjust the padding-top value to create space */
  text-align: center;
  margin-top: 10px;
  position: relative; /* Make the container a positioning context for the counter */
  font-family: 'Pixelify Sans', sans-serif; /* Set the font-family to Pixelify Sans */
  max-height: 400px; /* Set a maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrollbar when content exceeds max-height */
}

.available-information-title {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px; /* Adjust the margin-top value to create space */
  margin-bottom: 20px;
}

.counter {
  position: absolute; /* Position the counter absolutely within the container */
  top: 0px; /* Adjust the top distance as needed */
  right: 10px; /* Adjust the right distance as needed */
  font-size: 13px; /* Adjust the font size as needed */
  color: #ffffff; 
  padding: 5px 10px; /* Add padding as needed */
  font-family: 'Silkscreen', sans-serif; /* Use the Silkscreen font */
}

.select-text {
  position: absolute; 
  top: 0px; 
  font-size: 13px; 
  color: #ffffff; 
  padding: 5px; 
  font-family: 'Pixelify Sans', sans-serif; 
  text-align: center; 
}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 1165px) {
  .select-text {
    width: 70%; /* Set the width as needed for two lines of text */
    margin: 0 auto; /* Center-align the text */
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Show ellipsis (...) for long text */
    max-width: 100%; /* Ensure the text doesn't overflow horizontally */
  
  }
}