/* FactBox.css */

.fact-box {
  /* Styles for the container, including background color */
  background-color: black; /* Add the background color for the initial state */
  padding: 2px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #303030; /* Set the text color to dark gray (#303030) */
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent; /* Start with a transparent border */
}

.fact-text {
  color: white; /* Initial text color (white) */
}

.fact-box.selected {
  border: 2px solid white;
  border-color: white; /* Change border color for selected boxes */
}