/* NarrativeButton.css */

.narrative-button {
  background-color: rgb(0, 0, 0); /* Set the button's background color to black */
  color: #ffffff; /* Set the text color to white */
  border: none;
  padding: 10px 20px; /* Add padding for spacing (adjust as needed) */
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px; /* Add margin to separate it from the input text box */
  font-family: 'Pixelify Sans', sans-serif;
}

.narrative-button:hover {
  background-color: rgb(255, 255, 255); /* Change the background color on hover to white */
  color: rgb(0, 0, 0); /* Change the text color on hover to black */
}

/* Define the pulsing animation */
@keyframes pulse {
  0% {
    background-color: rgb(255, 255, 255);
    color: #303030;
  }
  100% {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}

/* Apply the pulsing animation when the 'pulsing' class is present */
.narrative-button.pulsing {
  animation: pulse 1s infinite alternate; /* Apply the 'pulse' animation infinitely */
}