/* App.css */
.App {
  text-align: center;
}

body {
  background-color: black;
  margin: 0;
}

.App-header {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: transparent;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px; 
  grid-template-columns: auto auto; /* Two equal-width columns */
}
