.App {
  text-align: center;
}

/* Set the background color to black */
body {
  background-color: black;
  margin: 0; /* Optionally remove default body margin */
}

/* Style the header */
.App-header {
  font-family: 'Pixelify Sans', sans-serif; /* Apply the Pixelify Sans font */
  background-color: transparent; /* Remove background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Set text color to white */
}

